body {
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: flex;
    flex-direction: column;
}

.title-container {
    background-color: red;
    flex: 1;
}

.content-container {
    background-color: blue;
    flex: 9;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.nav {
    flex: 1;
    background-color: yellow;
    height: 100%;
}

.content {
    flex: 4;
    background-color: green;
    height: 100%;
}