#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}

button {
    font-size: 30px;
}